<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="BASE_DIR" value="/appdata/risk_monitor/logs" />
    <property name="APP" value="risk-monitor" />
    <property name="infoLevel" value="info"/>
    <property name="errorLevel" value="error"/>
    <property name="monitor" value="monitor"/>
    <contextName>${APP}</contextName>

<!--    控制台输出-->
    <appender name="STDOUT_C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <!--Info文件输出(包括error级别)-->
    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--    <appender name="INFO_LOG" class="ch.qos.logback.classic.AsyncAppender">-->
        <File>${BASE_DIR}/${infoLevel}/info.log</File>
        <encoder>
            <pattern> %d|+|%contextName|+|%X{requestId}|+|%level|+|%c{1.}|+|%t|+|%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_DIR}/${infoLevel}/info.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--Error文件输出-->
    <!-- 按照日期生成日志文件【最新的日志，是info。log】 -->
    <appender name="ERROR_LOG"  class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--    <appender name="ERROR_LOG"  class="ch.qos.logback.classic.AsyncAppender">-->
        <File>${BASE_DIR}/${errorLevel}/error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!--设置日志级别,过滤掉info日志,只输入error日志-->
            <level>ERROR</level>
        </filter>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${BASE_DIR}/${errorLevel}/error.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <!--格式化输出-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern> %d|+|%contextName|+|%X{requestId}|+|%level|+|%c{1.}|+|%t|+|%m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--调用记录单独输出到一个文件中-->
    <appender name="MONITOR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${BASE_DIR}/${monitor}/monitor.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern> %d|+|%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_DIR}/${monitor}/monitor.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

<!--    <logger name = "com.beebank.monitor.controller.QueryController" level="WARN" additivity="false">-->
    <logger name = "monitorLog" level="INFO" additivity="false">
        <appender-ref ref="MONITOR_LOG"/>
    </logger>
    <root level="INFO">
<!--        禁止控制台输出（优化性能）-->
        <appender-ref ref="STDOUT_C"/>
        <appender-ref ref="INFO_LOG"/>
        <appender-ref ref="ERROR_LOG"/>

    </root>
</configuration>